commands:
  01_enable_rootaccess:
    command: echo Defaults:root \!requiretty >> /etc/sudoers
  02_find:
    command: ls -A > /home/ec2-user/result.txt; pwd >> /home/ec2-user/result.txt
  03_prepenvironment:
    command: sh /opt/python/current/app/scripts/03_prepenvironment.sh
    ignoreErrors: true
option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
  "aws:elasticbeanstalk:container:python":
    StaticFiles: /static/=static/
