# This used to be in the folder .ebextensions and was used to 
# configure elasticbeanstalk before we switched to pure ec2 instances.
# Thus this is old code, used as reference if I ever change my mind.

commands:
  01_enable_rootaccess:
    command: "echo Defaults:root \!requiretty >> /etc/sudoers"
  03_prepenvironment:
    command: "sh /opt/python/ondeck/app/scripts/03_prepenvironment.sh"
    ignoreErrors: true
container_commands:
  01_permissions_static_folder:
    command: "sudo chmod +rx /opt/python/ondeck/app/static; sudo chmod +rx /opt/python/ondeck/app/static/*"
option_settings:
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"
  "aws:elasticbeanstalk:container:python":
    StaticFiles: /static/=static/
